.slick-prev:before, .slick-next:before {
    color: #333 !important; /* Đổi màu mũi tên thành đen */
    font-size: 24px !important;
    opacity: 0.75 !important;
}

.slick-prev {
    left: -25px !important; /* Đẩy ra ngoài một chút */
}
.slick-next {
    right: -25px !important;
}